.pagination {
    font-size: 80%;
}
        
.pagination a {
    text-decoration: none;
    border: solid 1px black;
    color: #11B;
}

.pagination a:hover {
    border-color: white;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width:1em;
    text-align:center;
}

.pagination .current {
    background: #477D49;
    color: #fff;
    border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}
